
  body{
	background-image: url(./images/backow.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0%;
}

.centre{
	align-content: center;
}
div.padding{
	margin-top: 52px;
}

.titre{
	color:black;
	font-family : comic sans ms

}
.fixe{
	margin-left: 850px;
	padding-top: 5%;
	}	

@media screen and (max-width: 1201px) {
.fixe{
	margin-left: 750px;
	padding-top: 5%;
	}	
}

@media screen and (max-width: 1035px) {
.fixe{
	margin-left: 700px;
	padding-top: 5%;
	}	
}
@media screen and (max-width: 993px) {
.fixe{
	margin-left: 550px;
	padding-top: 5%;
	}	
}
@media screen and (max-width: 767px) {

.position-fixed{
display: none;	}	
}

.foot{
	background-color: #0D7ADA;
    height: 100px;
    margin-bottom: -70px;
    width: 100%;
    text-align: center;

}
.droit{
	color:red;
	font-size: 20px;
	

}